@import "mixins";
@import "colors";
@import "inherits";

.header{
    display: block;
    height: 130px;
    width: 100%;
    background-color: rgba($color: #ffffff, $alpha: 1);
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 9999;
    transition: background-color .5s linear;

    .burger{
        display: none;
    }

    @media only screen and (max-width: 1025px){
        height: 120px;
    }

    @media only screen and (max-width: 769px){
        background-color: white;
        box-shadow: 0 4px 9px rgba(0, 0, 0, 0.25);
        position: static;

        .burger{
            display: block;
        }
    }

    @media only screen and (max-width: 426px){
        height: 100px;
        overflow-y: hidden;;
    }
}

.fixed{
    
    background-color: rgba($color: #000000, $alpha: .5);
    transition: all .5s linear;

    // @media only screen and (max-width: 600px){
    //     background-color: white;
    //     box-shadow: 0 4px 9px rgba(0, 0, 0, 0.25);
    // }
}

@media only screen and (max-width: 769px){
    .tmp{
        position: absolute;
        top: 0;
        width: 100%;
        height: 120px;
        background-color: white;
        z-index: 3;
        box-shadow: 0 4px 9px rgba(0, 0, 0, 0.25);

        @media only screen and (max-width: 400px){
            height: 105px;
            margin-top: 0px;
        }
    }
}

.header__container{
    margin: 0 auto;
    width: 70%;
    display: flex;
    padding-top: 30px;
    justify-content:space-between;

    @media only screen and (max-width: 1025px){
        width: 100%;
        justify-content:space-around;
    }

    @media only screen and (max-width: 769px){
        width: 100%;
        display: block;
        z-index: 9999;

        .header__left{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            height: 100%;
            z-index: 10;
            background-color: white;
        }
    }
}

.header__middle{
    display: flex;
    align-items: center;

    @media only screen and (max-width: 1025px){
        justify-content: center;
    }

    @media only screen and (max-width: 769px){
        display: block;
    }
}

.header__logo{
    z-index: 10;

    

    img{
        height: 80px;

        @media only screen and (max-width: 1025px){
            height: 70px;
        }

        @media only screen and (max-width: 769px){
            margin-top: -20%;
            height: 60px; 
            margin-right: 200px;
        }

        @media only screen and (max-width: 400px){
            height: 50px;
            margin-right: 150px;
        }
    }
}

.nav__item{
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 14px;
    margin-right: 25px;
    transition: color 0.3s linear;

    &.p{
        display: none;
    }

    @media only screen and (max-width: 1025px){
        font-size: 12px;
    }

    @media only screen and (max-width: 769px){
        display: flex;
        align-items: center;
        color: #ffffff;
        // padding: 30px 0;
        padding-left: 30px;
        width: 100%;
        height: 100%;
        // border: solid 2px black;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);

        &.p{
            display: flex;
            font-size: 16px;
            margin: 0 auto;
        }
    }

    @media only screen and (max-width: 426px){
        padding-left: 10%;
        width: 90%;
    }
}

.nav__item:hover{
    color: #d81d1d;

    @media only screen and (max-width: 769px){
        color: white;
    }
}

.phone__holder{
    display: flex;
    align-items: center;
    overflow-y: hidden;
    transition: color 0.3s linear;

    svg{
        height: 30px;
        margin-bottom: -5px;
        padding-right: 5px;
        fill: rgb(0, 0, 0);
        transition: fill 0.3s linear;
        // border: solid 1px black;

        @media only screen and (max-width: 769px){
            display: none;
        }
    }
}

.phone__number a{
    color: rgb(0, 0, 0);
    font-weight: 700;
    transition: color 0.3s linear;

    @media only screen and (max-width: 769px){
        color: #ffffff;
    }
}

.phone__number a:hover{
    color: #d81d1d;
    transition: color 0.3s linear;
}

.phone__text{
    color: rgb(0, 0, 0);
    padding-left: 20px;
    transition: color 0.3s linear;

    @media only screen and (max-width: 769px){
        color: #000000;
        display: none; 
    }
}

.header__button{
    @extend %button;

    @media only screen and (max-width: 769px){
        display: none;   
    }
}

.header__nav{
    margin-right: 150px;

    

    @media only screen and (max-width: 1025px){
        margin-right: 50px;
    }

    @media only screen and (max-width: 769px){
        position: absolute;
        width: 100%;
        height: 400px;
        z-index: 2;
        background: $primary;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: -100%;
        transition: ease .8s;

        &.active{
            margin-top: 0;
            top: 14%;
        }
    }

    @media only screen and (max-width: 400px){

        &.active{
            margin-top: -20px;
        }

        margin-top: -120%;
    }
}

.header__right{
    display: flex;
    align-items: center;
}

.fixed_item{
    color: #ffffff;

    svg{
        fill: rgb(255, 255, 255);
    }

    a{
        color: #ffffff;
    }
}

// Burger menu

.burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin: 0 20px;
    margin-top: -8%;
    z-index: 4;
    overflow-y: hidden;
}

    .burger span {
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: ease .8s;
    }

    .burger::after,
    .burger::before {
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: ease .8s;

        
    }

    .burger::before {
        top: 0;
    }

    .burger::after {
        bottom: 0;
    }

    .burger.active::before {
        transform: rotate(-45deg);
        top: 9px
    }

    .burger.active::after {
        transform: rotate(45deg);
        bottom: 9px
    }

    .burger.active span {
        transform: scale(0)
    }

    .burger.active {
        background: #fff;
    }

    @media only screen and (max-width: 400px){
        .burger {
            width: 20px;
            height: 10px
        }
    
        .burger.active::before{
            top: 4px;
        }
    
        .burger.active::after{
            bottom: 4px
        }
    
        .burger span{
            top: 4px;
        }
    }