%button{
    color: #fff;
    font-weight: 500;
    background-color: $primary;
    transition: background-color 0.2s linear;
    padding: 14px 18px;
    cursor: pointer;
    border-radius: 15px;

    &:hover{
        // color: darken($color: #fff, $amount: 10);
        background-color: darken($primary, $amount: 10);
    }
}