body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height:100%;
}

.clearfix { height: 0; }

a{
    text-decoration: none;
}

.container{
    margin: 0 auto;
    width: 70%;

    @media only screen and (max-width: 600px){
        width: 100%;
    }
}