@import "../common_scss/colors";

*{
  overflow-x: visible;

  @media only screen and (max-width: 600px){
    overflow-x: hidden;
  }
}

.calendar_div{
  display: block;
  width: 60%;
  margin: 0 auto;
  margin-top: 5em;

  h1{
    text-align: center;
  }

  @media only screen and (max-width: 1025px){
    h1{
      font-size: 26px;
    }
  }

  @media only screen and (max-width: 769px){
    width: 100%;
  }
}

.calendar{
  margin: 0 auto;
  margin-top: 3em;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .calendar_head{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: $primary;
    height: 60px;

    h1{
      color: white;
      cursor: default;
      font-weight: 500;
      font-size: 26;
    }

    div{
      border-radius: 50%;
      transition: background-color .5s linear;

      i{
        color: white;
        padding: 10px;
        cursor: pointer;
      }

      &:active{
        background-color: rgba($color: #00000067, $alpha: .3);
        transition: background-color .01s linear;
      }
    }
  }

  .calendar_body{
    padding-bottom: 3em;

    .days{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      width: 80%;
      margin: 30px auto;
      cursor: default;
      // border: solid 2px black;

      h1{
        font-size: 26px;
      }

      & .weknd{
        color: red;
      }

      @media only screen and (max-width: 769px){
        font-size: 26px;
        margin-bottom: 0;
      }
    }

    .dates{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      width: 80%;
      margin: 0 auto;
      // border: solid 2px red;

      .empty_date{
        visibility: hidden;
      }

      div{
        border-radius: 50%;
        background-color: $primary;
        width: 60px;
        height: 60px;
        margin: 7px auto;
        cursor: pointer;
        transition: background-color .5s linear;

        &:hover{
          background-color: darken($primary, $amount: 15%);
          transition: background-color .5s linear;
        }

        p{
          font-size: 26px;
          color: white;
          padding: 15px;
          text-align: center;
        }

        // @media only screen and (max-width: 2565px){
        //   margin: 7px 30%;
        // }

        // @media only screen and (max-width: 1441px){
        //   margin: 7px 20%;
        // }

        @media only screen and (max-width: 1025px){
          border-radius: 0%;
          margin-left: 0%;
        }

        @media only screen and (max-width: 769px){
          margin-left: 0%;
          margin: 5px auto;

          p{
            font-size: 26px;
          }
        }

        @media only screen and (max-width: 426px){
          margin: 5px auto;;
          width: 40px;
          height: 40px;

          p{
            font-size: 21px;
            padding: 0;
            margin: 5px;
          }

          &:hover{
            background-color: darken($primary, $amount: 0%);
            transition: none .5s linear;
          }

          // &:active{
          //   background-color: darken($primary, $amount: 15%);
          //   transition: background-color .5s linear;
          // }
        }
      }
    }
  }
}

