@import "../common_scss/colors";

// .main_content{
//     // height: 100%;
// }

.services{
    display: block;
    padding-top: 5em;
    // border: solid 2px black;

    h1{
        text-align: center;
        font-size: 32px;

        @media only screen and (max-width: 1025px){

            font-size: 26px;
        }
    }
}

.services__content_box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
    // border: solid 2px rgb(105, 57, 200);

    @media only screen and (max-width: 1025px){
        width: 100%;
    }

    @media only screen and (max-width: 600px){
        width: 100%;
    }
}

.services__content{
    height: 300px;
    width: 320px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin: 10px 10px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .2);
    transition: .6s;
    cursor: pointer;
    // border: solid 2px rgb(22, 255, 38);

    @media only screen and (max-width: 600px){
        width: 90%;
        margin: 10px 10px;
        padding: 30px 10px;
        box-shadow: 0px 5px50px 0 rgba(0, 0, 0, .2);
    }

    // @media only screen and (max-width: 400px){
    //     width: 50%;
    // }

    &:hover{
        background-color: darken($primary, $amount: 10);

        i{
            color: white;
        }

        h2{
            color: white;
        }

        p{
            color: white;
        }
    }
}

.services__content i{
    margin: 20px;
    color: $primary
}

.services__content h2{
    margin-bottom: 12px;
    font-weight: 400;
    text-align: center;
    font-size: 21px;
    color: black;

    @media only screen and (max-width: 1025px){
        font-size: 18px;
    }
}

.services__content p{
    color: #6c757d;
    text-align: center;

    @media only screen and (max-width: 1025px){
        font-size: 14px;
    }
}
