{% extends 'main.html' %}
{% load static %}

{% block content %}
    <main class="main_content">

        <!-- Большое фото команды с просьбой пройти тестирование на ВИЧ -->
        <div class="big-photo">
            <div class="promo">
                <div class="promo-text">
                    <p>Пройдите бесплатное тестирование на ВИЧ у нас!</p>
                </div>
                <a href="{% url 'HIV-test' %}">
                    <div class="button">
                        Пройти
                    </div>
                </a>
            </div>
            <div class="team-photo">
                <img src="{% static 'img/team_photo.png' %}" alt="">
            </div>
        </div>


        <!-- О нас -->
        <div class="about_us" id="about_us">
            <h1>О НАС</h1>
            <div class="wrapper">
                <!-- Коллаж из фоток -->
                <div class="collage">
                    <img class="top_left" src="{% static 'img/top_left_photo.png' %}" alt="">
                    <img class="top_right" src="{% static 'img/top_right_photo.png' %}" alt="">
                    <img class="center" src="{% static 'img/center_photo.png' %}" alt="">
                    <img class="bottom_right" src="{% static 'img/bottom_right_photo.png' %}" alt="">
                </div>
                <!-- Краткая информация о нас -->
                <div class="nutshell">
                    <div class="history">
                        <h1><br>С заботой о вашем здоровье и безопасности</h1>
                        <p><br>Общественный центр здоровья ОЦЗ «Нукта» содействует в снижении распространения ВИЧ и сопутствующего лечения среди ключевых групп населения. Это безопасное место, где вы можете получить комплексный пакет ВИЧ услуг от диагностики заболевания до консультации врача-инфекциониста и получения препаратов до-контактной профилактики. <br><br>Центр создан в рамках проекта USAID «Достижение целей и продолжение мер по контролю эпидемии EpiC»</p>
                    </div>
                    <!-- "наши преимущества" -->
                    <div class="advantage">
                        <div class="wrapper_advantage">
                            <div class="icon">
                                <img src="{% static 'img/padlock-unlock.png' %}" alt="">
                            </div>
                            <div class="text">
                                <h2><br>Безопасность и конфиденциальность</h2>
                                <p><br>Мы обеспечиваем безопасность данных своих киентов. Для получения услуг в нашем центре вам не нужны документы, удостоверяющие вашу личность.</p>
                            </div>
                        </div>
                        <div class="wrapper_advantage">
                            <div class="icon">
                                <img src="{% static 'img/user.png' %}" alt="">
                            </div>
                            <div class="text">
                                <h2><br>Понимание со стороны персонала</h2>
                                <p><br>Наши сотрудники понимают всю ответственность и входят в положение каждого из клиентов. Мы сопровождаем вас на всех этапах диагности и лечения.</p>
                            </div>
                        </div>
                        <div class="wrapper_advantage">
                            <div class="icon">
                                <img src="{% static 'img/family.png' %}" alt="">
                            </div>
                            <div class="text">
                                <h2><br>Наличие детского уголка</h2>
                                <p><br>Ваши дети не будут скучать, они найдут подходящее занятие в нашем детском уголке.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Услуги -->
        <div class="services" id="services">
            <h1>УСЛУГИ</h1>
            <div class="services__content_box">

                <!-- Экспресс тестирование на ВИЧ -->
                <a href="{% url 'HIV-test' %}">
                    <div class="services__content">
                        <i class='bx bx-timer bx-md'></i>
                        <h2>Экспресс тестирование на ВИЧ</h2>
                        <p>Позволяет выявить присутствие вируса иммунодефицита человека путем забора слюны. Это абсолютно безболезненно, а результат можно получить уже через 15-25 минут после тестирования!</p>
                    </div>
                </a>

                <!-- Капилярное экспресс тестирование на ВИЧ -->
                <a href="{% url 'capillary' %}">
                    <div class="services__content">
                        <i class='bx bx-test-tube bx-md'></i>
                        <h2>Капиллярное экспресс тестирование на ВИЧ</h2>
                        <p>По образцу крови определим присутствие ВИЧ. Это один из самых точных экспресс-тестов. Потребуется всего несколько капель крови из пальца. Результат будет готов через 15-25 минут!</p>
                    </div>
                </a>

                <!-- Экспресс тестированием ВИЧ на дому -->
                <a href="{% url 'home-HIV-test' %}">
                    <div class="services__content">
                        <i class='bx bx-home-alt bx-md'></i>
                        <h2>Экспресс тестирование на ВИЧ с выездом на дом</h2>
                        <p>Позволяет выявить присутствие вируса иммунодефицита человека путем забора слюны. Наши специалисты прибудут в удобное для вас место и время. Результат будет готов уже через 15-25 минут.</p>
                    </div>
                </a>

                <!-- Предоставление АРТ -->
                <a href="{% url 'ART-HIV' %}">
                    <div class="services__content">
                        <i class='bx bx-spa bx-md'></i>
                        <h2>Предоставление АРТ</h2>
                        <p>«Нукта» предоставляет препараты антиретровирусной терапии ВИЧ-положительным людям. Запишитесь на прием и получите их в назначенное время по адресу г. Худжанд, 12 микрорайон, строение 17 «Г»</p>
                    </div>
                </a>

                <!-- Доставка АРТ на дом -->
                <a href="{% url 'home-ART-HIV' %}">
                    <div class="services__content">
                        <i class='bx bx-mail-send bx-md'></i>
                        <h2>Доставка АРТ на дом</h2>
                        <p>Мы можем доставить препараты антиретровирусной терапии в удобное для вас место. Перед этим рекомендуем проконсультироваться с нашими специалистами по телефону </br> +999 999 999 99 99.</p>
                    </div>
                </a>

                <!-- Предоставление ДКП -->
                <a href="{% url 'PEP-HIV' %}">
                    <div class="services__content">
                        <i class='bx bx-box bx-md'></i>
                        <h2>Предоставление ДКП</h2>
                        <p>В центре «Нукта» вы можете получить препараты доконтактной профилактики ВИЧ. Людям, которые рассматривают возможность доконтактной профилактики для себя, рекомендуется  обратиться за консультацией к специалисту в нашем центре.</p>
                    </div>
                </a>

                <!-- Доставка ДКП на дом -->
                <a href="{% url 'home-PEP-HIV' %}">
                    <div class="services__content">
                        <i class='bx bx-send bx-md'></i>
                        <h2>Доставка ДКП на дом</h2>
                        <p>Доставка препаратов доконтактной профилактики в удобное для вас место в назначенное время. Рекомендуется ВИЧ-отрицательным людям, ведущим рискованный образ жизни.</p>
                    </div>
                </a>

                <!-- Забор и транспортировка крови для теста на вирусную нагрузку в центры СПИД -->
                <a href="{% url 'transport-HIV-test' %}">
                    <div class="services__content">
                        <i class='bx bx-injection bx-md'></i>
                        <h2>Забор и транспортировка крови для теста на вирусную нагрузку в центры СПИД</h2>
                        <p>Анализ определяет количество частиц вируса в плазме крови и измеряется в количестве копий РНК ВИЧ на миллилитр.</p>
                    </div>
                </a>

            </div>
        </div>

    </main>
{% endblock content %}
