{% extends 'main_service.html' %}
{% load static %}
{% block content %}

<main class="main_content">

    <!-- Название и описание процедуры -->
    <div class="desc">
        <h1 >Экспресс тестирование на ВИЧ</h1>
        <p><br>Экспресс-тест на ВИЧ позволяет выяснить присутствие вируса иммунодефицита в организме человека. Этот тест может проводиться по слюне или образцу крови. 

            <br><br>Вами выбрана услуга тестирования на ВИЧ по образцу слюны. При тестировании используется ватная палочка для сбора образца слюны, а проводить анализ крови не нужно. 
            
            <br><br>Специалист аккуратно собирает с верхней и нижней десны образцы слюны ватной палочкой. Процедура безболезненна, а результат будет готов уже через 15-25 минут. 
            
            <br><br>Почему стоит сдать анализы на ВИЧ?
            
            <br><br>Если в  Вашей жизни были:
            <br>– хотя бы один контакт без презерватива 
            <br>– хотя бы один опыт употребления наркотиков 
            <br>– вирусный гепатит 
            <br>– пирсинг или татуировки.
            
            <br><br>Хотя бы один ответ "ДА" — 100% повод сдать кровь на ВИЧ.</p>
        <h3><br><br><br>Запишитесь к нам онлайн!</h3>
    </div>

    <!-- Календарь -->
    <div class="calendar_div">
        <h1>Выберите дату</h1>

        <div class="calendar">
            <div class="calendar_head">
                <div>
                    <i class="bx bx-chevron-left bx-md"></i>
                </div>
                <h1>{{month_translate}}</h1>
                <div>
                    <i class="bx bx-chevron-right bx-md"></i>
                </div>
            </div>
            <div class="calendar_body">
                <div class="days">
                    <h1 class="days_item">Пн</h1>
                    <h1 class="days_item">Вт</h1>
                    <h1 class="days_item">Ср</h1>
                    <h1 class="days_item">Чт</h1>
                    <h1 class="days_item">Пт</h1>
                    <h1 class="days_item weknd">Сб</h1>
                    <h1 class="days_item weknd">Вс</h1>
                </div>
                <div class="dates">
                    {% for date in dates %}
                    {%if date == 0%}
                    <a class="empty_date" href="{% url 'booking_page_1' service.id year month date %}">
                        <div>
                            <p>{{date}}</p>
                        </div>
                    </a>
                    {%else%}
                        {% if date <= day %}
                        <a class="grey_date" href="">
                            <div>
                                <p>{{date}}</p>
                            </div>
                        </a>
                        {% else %}
                        <a href="{% url 'booking_page_1' service.id year month date %}">
                            <div>
                                <p>{{date}}</p>
                            </div>
                        </a>
                        {% endif %}
                    {%endif%}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}