{% extends 'main_service.html' %}
{% load static %}

{% block content %}
<main class="main_content">

    <!-- Название и описание процедуры -->
    <div class="desc">
        <h1>Экспресс тестирование на ВИЧ с выездом на дом</h1>
        <p><br>Работники нашего центра прибудут в удобное для вас место и время для проведения экспресс тестирования на ВИЧ методом анализа слюны. 

            <br><br>Специалист аккуратно собирает с верхней и нижней десны образцы слюны ватной палочкой. Процедура безболезненна, а результат будет готов уже через 15-25 минут. 
            
            <br><br>Почему стоит сдать анализы на ВИЧ?
            
            <br><br>Если в  Вашей жизни были:
            <br>– хотя бы один контакт без презерватива 
            <br>– хотя бы один опыт употребления наркотиков 
            <br>– вирусный гепатит 
            <br>– пирсинг или татуировки.
            
            <br><br>Хотя бы один ответ "ДА" — 100% повод сдать кровь на ВИЧ.</p>
        <h3><br><br><br>Запишитесь к нам онлайн!</h3>
    </div>

    <!-- Форма -->
    <div class="form_div">
        <h1>Запись на прием</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="module_field">
                <p>Имя (можно вымышленное)</p>
                <div class="field">
                    <i class='bx bx-x-circle bx-md' id="error"></i>
                    <i class='bx bx-user bx-md'></i>
                    {{form.name}}
                </div>
                <p class="error">Необходимо заполнить поле</p>
            </div>

            <div class="module_field">
                <p>Адрес</p>
                <div class="field">
                    <i class='bx bx-x-circle bx-md' id="error"></i>
                    <i class='bx bx-map bx-md'></i>
                    {{form.address}}
                </div>
                <p class="error">Необходимо заполнить поле</p>
            </div>
            
            <div class="module_field">
                <p>Телефон</p>
                <div class="field">
                    <i class='bx bx-x-circle bx-md' id="error"></i>
                    <i class='bx bx-phone bx-md'></i>
                    {{form.phone_number}}
                </div>
                <p class="error">Необходимо заполнить поле</p>
            </div>
            <div class="module_field">
                <p>Пол</p>
                <div class="field">
                    <i class='bx bx-x-circle bx-md' id="error"></i>
                    <i class='bx bx-phone bx-md' id="hidden"></i>
                    {{form.sex}}
                </div>
                <p class="error">Необходимо заполнить поле</p>
            </div>
            <div class="two_module">
                <div class="module_field">
                    <p>Возраст</p>
                    <div class="field">
                        <i class='bx bx-x-circle bx-md' id="error"></i>
                        <i class='bx bx-map bx-md' id="hidden"></i>
                        {{form.birthday}}
                    </div>
                    <p class="error">Необходимо заполнить поле</p>
                </div>
                <div class="module_field">
                    <p>Время записи</p>
                    <div class="field">
                        <i class='bx bx-x-circle bx-md' id="error"></i>
                        <i class='bx bx-phone bx-md' id="hidden"></i>
                        {{form.appointment_time}}
                    </div>
                    <p class="error">Необходимо заполнить поле</p>
                </div>
            </div>
            <div class="module_field">
                <div class="button">
                    <input type="submit" name="" value="Записаться">
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock content %}
