{% extends 'main_service.html' %}
{% load static %}

{% block content %}

<main class="main_content">

    <!-- Название и описание процедуры -->
    <div class="desc">
        <h1>Доставка АРТ препаратов</h1>
        <p><br>Антиретровирусная терапия (АРТ), также известная как комбинированная терапия, представляет собой одновременный прием нескольких антиретровирусных препаратов. Она включает стандартную комбинацию не менее чем трех препаратов.

            <br><br>Целью АРТ-терапии является увеличение продолжительности и качества жизни ВИЧ-положительного человека. 
            
            <br><br>Мы доставляем АРТ препараты только людям с подтвержденным статусом ВИЧ в ЦСПИД. Пройти тестирование на ВИЧ можно в нашем Центре или заказать тестирование на дому.</p>
        <h3><br><br><br>Запишитесь к нам онлайн!</h3>
    </div>

    <!-- Календарь -->
    <div class="calendar_div">
        <h1>Выберите дату</h1>

        <div class="calendar">
            <div class="calendar_head">
                <div>
                    <i class="bx bx-chevron-left bx-md"></i>
                </div>
                <h1>{{month_translate}}</h1>
                <div>
                    <i class="bx bx-chevron-right bx-md"></i>
                </div>
            </div>
            <div class="calendar_body">
                <div class="days">
                    <h1 class="days_item">Пн</h1>
                    <h1 class="days_item">Вт</h1>
                    <h1 class="days_item">Ср</h1>
                    <h1 class="days_item">Чт</h1>
                    <h1 class="days_item">Пт</h1>
                    <h1 class="days_item weknd">Сб</h1>
                    <h1 class="days_item weknd">Вс</h1>
                </div>
                <div class="dates">
                    {% for date in dates %}
                    {%if date == 0%}
                    <a class="empty_date" href="{% url 'booking_page_5' service.id year month date %}">
                        <div>
                            <p>{{date}}</p>
                        </div>
                    </a>
                    {%else%}
                    <a href="{% url 'booking_page_5' service.id year month date %}">
                        <div>
                            <p>{{date}}</p>
                        </div>
                    </a>
                    {%endif%}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}
