{% extends 'main_service.html' %}
{% load static %}

{% block content %}
<main class="main_content">

    <!-- Название и описание процедуры -->
    <div class="desc">
        <h1>Забор и транспортировка крови в центр СПИД</h1>
        <p><br>Для удобства пациентов в центре действует лаборатория которая методом забора крови сможет в течении 7-10 рабочих дней поставить точный диагноз на ВИЧ на базе ЦСПИД.

            <br><br>После установления точного диагноза на ВИЧ (на базе лаборатории ЦСПИД) пациент в сопровождении сотрудника Центра идет на консультацию с врачом инфекционистом для начала АРТ лечения. 
            
            <br><br>Единственный момент, при котором потребуется документ подтверждающий вашу личность - это момент подтверждения диагноза ВИЧ в ЦСПИД. Дальнейшее лечение от ВИЧ пациент может получать на базе Центра.</p>
        <h3><br><br><br>Запишитесь к нам онлайн!</h3>
    </div>

    <!-- Календарь -->
    <div class="calendar_div">
        <h1>Выберите дату</h1>

        <div class="calendar">
            <div class="calendar_head">
                <div>
                    <i class="bx bx-chevron-left bx-md"></i>
                </div>
                <h1>{{month_translate}}</h1>
                <div>
                    <i class="bx bx-chevron-right bx-md"></i>
                </div>
            </div>
            <div class="calendar_body">
                <div class="days">
                    <h1 class="days_item">Пн</h1>
                    <h1 class="days_item">Вт</h1>
                    <h1 class="days_item">Ср</h1>
                    <h1 class="days_item">Чт</h1>
                    <h1 class="days_item">Пт</h1>
                    <h1 class="days_item weknd">Сб</h1>
                    <h1 class="days_item weknd">Вс</h1>
                </div>
                <div class="dates">
                    {% for date in dates %}
                    {%if date == 0%}
                    <a class="empty_date" href="{% url 'booking_page_8' service.id year month date %}">
                        <div>
                            <p>{{date}}</p>
                        </div>
                    </a>
                    {%else%}
                    <a href="{% url 'booking_page_8' service.id year month date %}">
                        <div>
                            <p>{{date}}</p>
                        </div>
                    </a>
                    {%endif%}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
